<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Powerlifting Standards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

{% include 'navbar.html' %}

<!-- Wrap the content inside a container div -->
<div class="container">
    <div class="about-content">
        <h1>About Powerlifting Standards</h1>
        <p>These powerlifting standards are based on data from 172,398 lifters sourced from 
            <a href="https://www.openpowerlifting.org/" target="_blank">openpowerlifting.org</a>, 
            specifically those who participated in raw (with sleeves) full power IPF-affiliated meets. The dataset was filtered and processed to include only lifters who achieved a total in raw meets, and any repeat lifter entries were removed, retaining only the one with the highest Goodlift score for each name.
        </p>

        <p>To create these standards, the <strong>Goodlift (GL) points formula</strong> was applied to each lifter's best squat, bench press, deadlift, and total. The GL points formula, developed by Goodlift, takes into account factors such as the lifter's sex and bodyweight, and calculates the points for each lift based on their performance. For more details on the GL points formula, please refer to the official IPF GL Coefficients document available <a href="https://www.powerlifting.sport/fileadmin/ipf/data/ipf-formula/IPF_GL_Coefficients-2020.pdf" target="_blank">here</a>. We chose to use the <strong>GL points formula</strong> because it is the most recent and updated system compared to older methods like <strong>Wilks</strong> and <strong>DOTS</strong>.</p>

        <p>These standards focus on the squat, bench press, deadlift, and total because this data is available in large quantities from OpenPowerlifting, where lifters' performances are regularly recorded in full power meets. The 'big 3' lifts are standardised across competitions, making them the best indicators of overall strength. On the other hand, smaller lifts like lateral raises are less commonly tracked and highly variable, with form differing widely from person to person. Additionally, for exercises like lateral raises, there is less need to track strength levels since someone can be very strong and perform well in the big 3 lifts without necessarily needing to go heavy on smaller accessory lifts. The focus remains on the main compound movements, as they are key indicators of strength.</p>

        <p>If you’re interested in calculating your GL Points directly, you can use the <a href="https://www.ipfpointscalculator.com/" target="_blank">IPF Points Calculator</a>.</p>
    </div>
</div>

<footer>
    <strong>&#169; 2024 Jagdeep Singh Tamber. All rights reserved.</strong>
</footer>

</body>
</html>
