<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Powerlifting Standards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

{% include 'navbar.html' %}

    <div class="about-content">
        <h1>About Powerlifting Standards</h1>
        <p>These standards are relative to 172,398 lifters from 
            <a href="https://www.openpowerlifting.org/" target="_blank">openpowerlifting.org</a>, 
            specifically those who competed and achieved a total in raw (with sleeves) full power IPF-affiliated meets (with repeat name entries removed).
        </p>
    </div>

    <footer>
        <strong>&#169; 2024 Jagdeep Singh Tamber. All rights reserved.</strong>
    </footer>
</body>
</html>
