<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Powerlifting Standards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

{% include 'navbar.html' %}

<div class="container">
    <h1>Powerlifting Standards</h1>

    <form method="POST">
        <!-- Age dropdown -->
        <div class="form-group center-form-group">
            <label for="division">Age:</label>
            <select name="division" id="division">
                <option value="Overall" {% if result and result.division == 'Overall' %}selected{% endif %}>Any</option>
                <option value="SJ" {% if result and result.division == 'Sub-Junior' %}selected{% endif %}>Sub-Junior (14-18 Years Old)</option>
                <option value="J" {% if result and result.division == 'Junior' %}selected{% endif %}>Junior (19-23 Years Old)</option>
                <option value="O" {% if result and result.division == 'Open' %}selected{% endif %}>Open (24-39 Years Old)</option>
                <option value="M1" {% if result and result.division == 'Master I' %}selected{% endif %}>Master I (40-49 Years Old)</option>
                <option value="M2" {% if result and result.division == 'Master II' %}selected{% endif %}>Master II (49-59 Years Old)</option>
                <option value="M3" {% if result and result.division == 'Master III' %}selected{% endif %}>Master III (60-69 Years Old)</option>
                <option value="M4" {% if result and result.division == 'Master IV' %}selected{% endif %}>Master IV (70+ Years Old)</option>
            </select>
        </div>

        <!-- Lift Type dropdown -->
        <div class="form-group center-form-group">
            <label for="lift_type">Lift Type:</label>
            <select name="lift_type" id="lift_type">
                <option value="Squat" {% if result and result.lift_type == 'Squat' %}selected{% endif %}>Squat</option>
                <option value="Bench" {% if result and result.lift_type == 'Bench Press' %}selected{% endif %}>Bench Press</option>
                <option value="Deadlift" {% if result and result.lift_type == 'Deadlift' %}selected{% endif %}>Deadlift</option>
                <option value="Total" {% if result and result.lift_type == 'Total' %}selected{% endif %}>Total</option>
            </select>
        </div>

        <!-- Sex dropdown -->
        <div class="form-group center-form-group">
            <label for="Sex">Sex:</label>
            <select name="Sex" id="Sex">
                <option value="M" {% if result and result.Sex == 'Male' %}selected{% endif %}>Male</option>
                <option value="F" {% if result and result.Sex == 'Female' %}selected{% endif %}>Female</option>
                <option value="shemale" {% if result and result.Sex == 'Shemale' %}selected{% endif %}>Shemale</option>
            </select>
        </div>

        <!-- Weight Lifted input and unit dropdown -->
        <div class="form-group">
            <label for="lift">Weight Lifted:</label>
            <input type="text" name="lift" id="lift" value="{{ result.original_lift if result else '' }}">
            <select name="lift_unit" id="lift_unit" class="select-unit"> 
                <option value="kg" {% if result and result.lift_unit == 'kg' %}selected{% endif %}>kg</option>
                <option value="lbs" {% if result and result.lift_unit == 'lbs' %}selected{% endif %}>lbs</option>
            </select>
        </div>

        <!-- Bodyweight input and unit dropdown -->
        <div class="form-group">
            <label for="bodyweight">Bodyweight:</label>
            <input type="text" name="bodyweight" id="bodyweight" value="{{ result.original_bodyweight if result else '' }}">
            <select name="bodyweight_unit" id="bodyweight_unit" class="select-unit">
                <option value="kg" {% if result and result.bodyweight_unit == 'kg' %}selected{% endif %}>kg</option>
                <option value="lbs" {% if result and result.bodyweight_unit == 'lbs' %}selected{% endif %}>lbs</option>
            </select>
        </div>

        <button type="submit">Calculate</button>
    </form>

    {% if result %}
        <p>Your Strength Level for {{ result.lift_type }} is <strong>{{ result.strength_level }}</strong>.</p>
        <p>Lifting {{ result.original_lift }}{{ result.lift_unit }} at {{ result.original_bodyweight }}{{ result.bodyweight_unit }} bodyweight makes you stronger than {{ result.lifter_percentage_rank }}% of {{ result.division }} {{ result.Sex }} powerlifters.</p>

        <!-- Centered Star Rating -->
        <div class="stars centered">
            {% for i in range(5) %}
                {% if i < result.stars|int %}
                    <span class="star filled">★</span>
                {% elif i < result.stars %}
                    <span class="star filled">☆</span>
                {% else %}
                    <span class="star">☆</span>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>

<footer>
    <strong>&#169; 2024 Jagdeep Singh Tamber. All rights reserved.</strong>
</footer>
</body>
</html>
