<div class="navbar">
    <a href="/" class="{% if request.path == '/' %}active{% endif %}">Home</a>
    <a href="/standards" class="{% if request.path == '/standards' %}active{% endif %}">Tables</a>
    <a href="/1rm_calculator" class="{% if request.path == '/1rm_calculator' %}active{% endif %}">1RM Calculator</a>
	<a href="/gl_points" class="{% if request.path == '/gl_points' %}active{% endif %}">GL Points/Dots Calculator</a>
    <a href="/strength-categories" class="{% if request.path == '/strength-categories' %}active{% endif %}">Strength Categories</a>
    <a href="/about" class="{% if request.path == '/about' %}active{% endif %}">About</a>
</div>
