<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strength Categories - Powerlifting Standards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

{% include 'navbar.html' %}

<!-- Wrap the content inside a container div -->
<div class="container">
    <div class="strength-categories-content">
        <h1>Strength Categories</h1>
        <p><strong>Beginner (Stronger than less than 20% of lifters)</strong><br>
        A lifter with at least six months of training. They can perform the main lifts with proper form but are still developing strength.</p>

        <p><strong>Novice (Stronger than 20% of lifters)</strong><br>
        A lifter with about one year of training. They have solid technique and are stronger than most beginner lifters, making steady progress.</p>

        <p><strong>Intermediate (Stronger than 50% of lifters)</strong><br>
        A lifter with at least two years of consistent training. They have developed good technique and strength, but progress slows and requires advanced planning.</p>

        <p><strong>Advanced (Stronger than 80% of lifters)</strong><br>
        A lifter with over five years of experience. They are highly skilled and strong, but further progress requires very specialised training and recovery.</p>

        <p><strong>Elite (Stronger than 95% of lifters)</strong><br>
        A lifter who has trained for years and competes at a top level. Their strength and technique are among the best, often competing nationally or internationally.</p>
    </div>
</div>

<footer>
    <strong>&#169; 2024 Jagdeep Singh Tamber. All rights reserved.</strong>
</footer>

</body>
</html>
